<footer class="footer">
    <div class="container">
     <div class="row">
        <div class="footer-col">
            <img src="../../../assets/logo1.png" style="margin:5px;" width="90" height="90" alt="">
            <h4>Glab © 2021-Company</h4>
          </div>
       <div class="footer-col">
         <h4>Glab Company</h4>
         <ul>
           <li><a routerLink="home">Home</a></li>
           <li><a routerLink="nosotros">Nosotros</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Online Shop</h4>
         <ul>
           <li><a routerLink='mujer'>Mujer</a></li>
           <li><a routerLink='hombre'>Hombre</a></li>
           <li><a routerLink='accesorios'>Accesorios</a></li>
           <li><a routerLink='conjuntos'>Conjuntos</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Contactame</h4>
         
        <a  href="https://github.com/Gianissssss"><img width="48" height="48" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/></a>
        <a  href="https://www.instagram.com/_hianiss_/"><img width="48" height="48" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram"/></a>
        <a href="https://www.linkedin.com/in/gianinna-campos/"><img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/gianicpos%40gmail.com"><img width="48" height="48" src="https://img.icons8.com/color/48/gmail--v1.png" alt="gmail--v1"/></a>
      </div>
     </div>
    </div>
 </footer>