<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/logo1.png" alt="Image" width="90">
    </ng-template>
    <ng-template pTemplate="end">   
        
      <button><a class="link-social" href="https://github.com/Gianissssss"><img width="48" height="48" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/></a></button>
      <button><a class="link-social" href="https://www.instagram.com/_hianiss_/"><img width="48" height="48" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram"/></a></button>
      <button><a class="link-social" href="https://www.linkedin.com/in/gianinna-campos/"><img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a></button>
      <button><a class="link-social" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/gianicpos%40gmail.com"><img width="48" height="48" src="https://img.icons8.com/color/48/gmail--v1.png" alt="gmail--v1"/></a></button>
      <!-- <button  style="margin-left: 10px; color: white; background-color: #1C6758;"  pButton type="button" icon="pi pi-sign-out" (click)="cerrarSesionConGoogle()"></button>
  <button style="margin-left: 10px; color: white; background-color: #1C6758;" label="Iniciar Sesion" (click)="mostrarDialogo()" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded "></button>
     <p-dialog header="Iniciar Sesion" [(visible)]="modalVisible">
      <form [formGroup]="usuario">
    <span class="p-float-label m-4">
      <input id="float-input"  type="text" pInputText formControlName="Nombre">
      <label for="float-input">Nombre</label>
    </span>
    <span class="p-float-label m-4">
      <input id="float-input"  type="text" pInputText formControlName="Contrasena">
      <label for="float-input">Contraseña</label>
    </span>
   <button label="{{textoBoton}}" style="background-color: #1c6758;" (click)="iniciaSesion()" pButton pRipple type="button"  class="p-button-rounded p-button-help"></button> 
    <button  style="margin-left: 10px; color: white; background-color: #1C6758;"  pButton type="button" icon="pi pi-google" (click)="iniciarSesionConGoogle()"></button>
</form>
  </p-dialog>  -->
  </ng-template>   
</p-menubar> 